* {
  box-sizing: border-box;
  outline: none;
}

body {
  align-items: center;
  background: linear-gradient(#1e1e2f, #1e1e24);
  display: flex;
  justify-content: center;
  margin: 0px;
  min-height: 100vh;
  padding: 1rem;
}

body,
input,
button {
  color: #fff;
  font-family: 'JetBrains Mono', sans-serif;
}

button {
  cursor: pointer;
}

form {
  margin-right: 1rem;
  max-width: 14rem;
}

form label {
  display: block;
  font-size: 14px;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

form input {
  background-color: transparent;
  border: 1px solid #fff;
  display: block;
  margin-bottom: 0.75rem;
  padding: 0.5rem 0.75rem;
}

form input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

form button[type='submit'] {
  background-color: #fff;
  border: none;
  color: #1e1e2f;
  cursor: pointer;
  font-weight: 700;
  margin-top: 0.25rem;
  padding: 0.5rem 0.75rem;
  text-transform: uppercase;
  width: 100%;
}

form #items {
  display: grid;
  grid-gap: 0.5rem;
  margin-top: 1.5rem;
}

form #items div {
  align-items: center;
  background-color: transparent;
  border: 2px solid #fff;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  padding: 0.5rem;
}

form #items div button {
  background-color: transparent;
  border: 2px solid #fff;
  font-size: 1rem;
  font-style: normal;
  margin-left: 1rem;
}

table {
  background: #27293d;
  border: none !important;
  border-radius: 0.25rem;
  box-shadow: 0 1px 20px 0px rgba(0, 0, 0, 0.1);
  max-width: 72rem;
  padding: 0.75rem;
  text-align: center;
  width: 100%;
}

table thead th {
  border: 0px;
  border-bottom: 1px solid #fff;
  padding: 0px;
  padding-bottom: 0.5rem;
}

table tbody tr:nth-of-type(even) {
  background-color: rgba(0, 0, 0, 0.25);
}

table tbody tr td:first-of-type {
  font-weight: 700;
  font-size: 1rem;
  white-space: nowrap;
}

table tbody tr td {
  padding: 0.5rem;
  font-size: 0.75rem;
  vertical-align: top;
}

table tbody .container {
  display: grid;
  grid-gap: 0.5rem;
}

table tbody .container > span {
  align-items: center;
  border-bottom: 0.5rem solid transparent;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 0.5rem;
}
